/*Footer Content*/

#footer {
	background-color:#6fba23;
}

#accent {
	height:15px;
	background-color:#29cfbd;
}

#footer-content {
	padding: 10px;
}

/*Contact Form*/

#mailing-list {
	float: left;
	width: 33.3%;
	background-color:red;
}

#social-media {
	float: left;
	width: 33.3%;
	background-color: green;
}

#arroc-logo {
	float: left;
	width: 33.3%;
	background-color:yellow;
}

#formfield {
	background-color:#29cfbd; 
}

/*Mailing List*/
#envelope {
	width: 20%;
	float:left;
	margin-top:1%;
	margin-left:5%;

}

p.maildetail {
	float:left;
	font-size:16px;
	color:#0b3e1e;
	margin-top:-6%;
	margin-left:20%;
}

#emailaddress {
	float:left;
}

#emailsubmit {
	width:125px;
	background-color:#0b3e1e;
	font-family:"Futura Condensed Medium";
	font-size:18px;
	color:#fffaeb;
	border: 2px solid #50f558;
	border-radius:12px;
}

/*Social Media*/
h3.social {
	margin-left:8%;
}

#iconbox {
	float:left;
}

/*Main Sponsors*/
#arrocravs {
	float:right;
	width: 200px;
	max-width: 200px !important;
}

#anchor {
	background-color: #0b3e1e;
	color:#fffaeb;
	font-size: 18px;
	font-family:"Futura Condensed Medium";
	padding-left: 10px;
	padding-right: 10px;
}

.left {
	position: relative;
	float:left;
}

.right {
	position: relative;
	float: right;
}

div.anchorLinks-left {
	text-align: left;
}

div.anchorLinks-right {
	text-align: left;
}

a.anchorlink:hover {
	color:#50f558;
}

@media screen and (max-width: 1100px) {
	.left {
		float: none;
		text-align: center;
	}	

	.right {
		float: none;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.left {
		float: none;
		text-align: center;
		font-size: 14px
	}

	.right {
		float: none;
		text-align: center;
		font-size: 14px;
	}

	#mailing-list {
		width: 50%;
		margin-bottom: 10px;
	}

	#social-media {
		width: 50%;
		margin-bottom: 10px;
	}

	#arroc-logo {
		width: 100%;
		margin-bottom: 10px;
	}

	#envelope {
		width: 100px;
	}

	#arrocravs {
		width: 200px;
	}
}