/* Main content div */
#main {
	padding-bottom: 250px;
}
/*Headings*/
h1 {
	text-align:center;
	margin-top:3%;
	font-family:"PoplarSTD","Times New Roman";
	font-size:50px; 
	color:black;
}

h2 {
	font-family:"PoplarSTD","Times New Roman";
	font-size:42px;
	color:black;
	text-align:center;
	margin-top:2%;
}

/*Paragraphs*/
p {
	font-family:"Futura Condensed Medium","Times New Roman"; /* Only font & color are defined here because they're the only attributes common to ALL paragraphs. */
	color:black;
}

p.smallprint {
	font-size:12px;
	float:right;	
}

p.bodytext {
	font-size:24px;
	margin-left:10%;
}

/*Links*/
a {
	display:inline-block;
}

a:link {
	text-decoration:none;
	list-style-type:none;
}


/*Boxes and b.gs*/
#vendorfield {
	margin-left:10%;
	margin-right:10%;
	margin-top:3%;
	margin-bottom:5%;
	width:80%;
	height:auto;
	background-color:#29cfbd;
	padding:3%;
}

.exhibitor {
	margin-bottom:5%;
}
.vendorimg {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:2% 0;
}

.vendorimg:hover {
	width:115%;
}

#nonprofitfooter {
	width:100%;
	height:1px;
	background-color:#fffaeb;
}

/* Button, not pressed */
div.button {
    width:90%;
    height:65px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
    background-color: #feb547;
    border-radius: 12px;
    border: 5px outset #2acebe;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
}


div.button:visited {
    width:90%;
    height:65px;
    margin-left:auto;
    margin-right:auto;
    background-color: #feb547;
    border-radius: 12px;
    border: 5px outset #2acebe;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
}

/* Button pressed */
div.button:active {
	background-color: #feb547;
    border: 5px inset #2acebe;;
}

/*Donate Styles*/

p.donatetext {
	width:80%;
	font-size:24px;
	margin-left:10%;
	margin-right:10%;

}

p.donatedetail {
	width:100%;
	font-size:20px;
	text-align:center;
}

p.t-shirtdetail {
	font-size:14px;
	text-align:center;
}

/*Links*/
a {
	display:inline-block;
}

a:link {
	text-decoration:none;
	list-style-type:none;
}

a:visited {
	color:#fffaeb;

	}

	#donatefield {
	margin-left:10%;
	margin-right:10%;
	margin-top:3%;
	margin-bottom:5%;
	width:80%;
	height:auto;
	border:solid black 3px;
	padding:3%;
}

#t-shirtbox {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

#tshirt1 {
float:left;
margin-left:auto;
margin-right:auto;

}

#tshirt2 {
float:right;
margin-left:auto;
margin-right:auto;

}

#water-bottle {
	width:30%;
	float:left;
}

#paypallogo {
	width:70%;
	float:right;
	margin-top:5%;
}

#paypallink {
	width:100%;
	
}

form.donate {
	margin-top:5%;
	float:right;
}

@media screen and (max-width: 1214px) { /* Breakpoint at which footer becomes a little taller due to bottom links stacking */
	#main {
		padding-bottom: 400px;
	}
}

@media screen and (max-width: 768px) { /* The "mobile" breakpoint - footer colums stack here */
#main {
		padding-bottom: 300px;
	}

	h1 {
		font-size:30px;
	}

	h2 {
		font-size:22px;
		
	}

	
p.donatetext {
	font-size:14px;
}

p.donatedetail {
	font-size:12px;
}

	#donatetable {
		width:100%;
	}

.vendorimg {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10%;
	padding:2% 0;
}

#tshirt2 {
float:left;
margin-left:auto;
margin-right:auto;

}
}

@media screen and (max-width:320px) {
			h1 {
		font-size:24px;
	}

		h2 {
		margin-top:5%;
	}


	h5 {
	margin-top:5%;
}
p.donatetext {
	font-size:12px;
}

p.donatedetail {
	font-size:11px;
}

#image1 {
width:80px;

}

#image2 {
	width:80px;

}

#image3 {
	width:80px;

}

#image4 {
	width:80px;
}

#donatefield {
border:solid black 1px;
	}

	#donatetable {
		width:80%;
		margin-left:10%;
	}

#tshirt1 {
	width:100%;
	margin-right:25% !important;
	margin-left:-15% !important;
	}
#tshirt2 {
	width:100%;
	margin-right:20% !important;

} 

#water-bottle {
	width:20%;
}

#paypallogo {
	width:80%;
}



}
