/*Fonts*/
@font-face {
	font-family:"AbbeyRoadNF";
	src:url("../fonts/abbeyroadnf.ttf");
}

@font-face {
    font-family:"PoplarSTD";
    src:url("../fonts/poplarstd.otf");
}

@font-face {
    font-family:"Antonio";
    src:url("../fonts/antonio/Antonio-Regular.ttf");

}
@font-face {
    font-family:"Futura Condensed Medium";
    src:url("../fonts/futura.ttc");
}
@font-face {
    font-family:"Futura Condensed ExtraBold";
    src:url("../fonts/futura.ttc");
}